{% extends "movies/base.html" %}

{% block title %} {{ actor.name }} :: {{ block.super }} {% endblock title %}

{% block container %}
    <div class="container py-md-3">
{% endblock %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock %}

{% block breadcrumb %} {{ actor.name }} {% endblock %}

{% block movie %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ object.image.url }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    {{ object.name }}</h3>
                <ul>
                    <li style="list-style: none"><span><b>Возраст:</b> {{ object.age }} лет</span></li>
                    <li style="list-style: none"><span><b>Режиссер:</b>
                        {% for movie in object.film_directors.all %}
                            <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                        {% endfor %}
                    </span></li>
                    <li style="list-style: none"><span><b>Актеры:</b>
                        {% for movie in movie.film_actors.all %}
                            <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                        {% endfor %}
                    </span></li>
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                О {{ object.name }}</h3>
            <p class="editContent" style="outline: none; cursor: inherit;">
                {{ object.description | safe }}
            </p>
        </div>
    </div>
{% endblock %}